.venv
/enduring_chambers/.env
/enduring_chambers/dist
/enduring_chambers/tmp
/enduring_chambers/build
/enduring_chambers/enduring_chambers.spec
/enduring_chambers/enduring_chambers_terminal.spec
**__pycache__
**.bkp
**.log
.vscode
**.xlsx#
**.xlsx